body {
    display: flex;
}
a {
    text-decoration: none;
    color: #EE5514;
}

.logofon {
    
}
.logotipPUMA {
    width: 94px;
height: 44px;
margin-top: 47px;
margin-left: 230px;
}
/* .fon {
  
width: 1188px;
height: 649px;
margin-top: 339px;
background: linear-gradient(90deg, #EE5514 1.14%, rgba(238, 85, 20, 0) 133.88%);
opacity: 0.1;
} */
a.knopka {
    color: #fff; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    background: rgb(212,75,56); /* фон кнопки */
    padding: 23px 45px; /* отступ от текста */
    border-radius: 3px;
    margin-top: -10px;
    margin-left: 1000px;
    font-size: 20px;
  } 
  a.knopka:hover { background: rgb(232,95,76); } 
  a.knopka:active { background: rgb(152,15,0); } 
.textlogo1  {
    display: flex;
    font-size: 21px;
    margin-left: 380px;
    margin-top: -30px; 
}
.textlogo2  {
    display: flex;
    font-size: 21px;
    margin-left: 500px;
    margin-top: -22px; 
}
.textlogo3  {
    display: flex;
    font-size: 21px;
    margin-left: 620px;
    margin-top: -22px; 
}
.textlogo4  {
    display: flex;
    font-size: 21px;
    margin-left: 740px;
    margin-top: -22px; 
}

/* .kvadrat {
    box-sizing: border-box;
width: 394px;
height: 400px;
border: 11px solid #EE5514;
margin-top: 450px;
margin-left: -300px;
opacity: 0.4;

}
.krasniekediPUMA {
    position: relative;
    margin-top: -600px;
    margin-left: -420px;
    

} */