body {
  max-width: 1600px;
}

p strong {
  font-size: 60px;
  position: absolute;
  margin-top: -400px;
  margin-left: 230px;
  font-family: "Source Serif Pro", serif;
  font-weight: 200;
}

h2 {
  color: #0e0d0d;
  opacity: 0.7;
  font-size: 16px;
  margin-left: 230px;
  margin-top: -200px;
  font-family: poppins, sans-serif;
}

.body__fon {
  width: 1188px;
  height: 649px;
  background: linear-gradient(
    90deg,
    #ee5514 1.14%,
    rgba(238, 85, 20, 0) 133.88%
  );
  opacity: 0.1;
  margin-top: -165px;
}

.body__kvadrat {
  position: absolute;
  box-sizing: border-box;
  width: 394px;
  height: 400px;
  border: 11px solid #ee5514;
  margin-top: -500px;
  margin-left: 867px;
  opacity: 0.4;
}
.krasniekediPUMA {
  position: absolute;
  margin-left: 745px;
  margin-top: -500px;
}
.body__kvadrat td {
  width: 10px;
  height: 10px;

  background: radial-gradient(
    circle,
    rgba(238, 85, 20, 0.1) 45%,
    transparent 50%
  );
}
