
body {
  max-width: 1600px;
  
  
}
.body__slova {
 position: absolute;
 margin-top: 200px;
 margin-left: 230px;
}
.body__slova p  {
  font-size: 60px;
  font-family: "Source Serif Pro", serif;
  font-weight: 200;
  line-height: 73.2px;
}
h1 {
  font-size: 60px;
 color: #ee5514;
  font-family: "Source Serif Pro", serif;
  font-weight: 200; 
  margin-top: 10px;
}
h2 {
  color: #0e0d0d;
  opacity: 0.7;
  font-size: 16px;
  font-family: poppins, sans-serif;
  line-height: 25.6px;
  margin-top: -10px;
}
.body {
  display: flex;
}

.body__fon {
  width: 1188px;
  height: 649px;
  background: linear-gradient(
    90deg,
    #ee551418 1.14%,
    rgba(238, 85, 20, 0) 133.88%
  );
  margin-top: -116px;
  z-index: -1;
}

.body__kvadrat {
  position: absolute;
  box-sizing: border-box;
  width: 394px;
  height: 400px;
  border: 11px solid #ee551444;
  margin-left: 867px;
  margin-top: 160px;
}
.body__krasniekediPUMA {
  position: absolute;
  margin-top: -130px;
  margin-left: -125px;
}
.body__kvadrat td {
  width: 15px;
  height: 15px;
  background: radial-gradient(
    circle,
    rgba(238, 85, 20, 0.13) 45%,
    transparent 50%
  );
}
.body__oval {
  width: 389px;
height: 89px;
background: rgba(0, 0, 0, 0.3);
filter: blur(30px);
border-radius: 100px/50px;
margin-top: 180px;
margin-left: -10px;
}
.body__strelka {
margin-left: 22.5px;
margin-top: 12.5px;
}
.body__krug {
  border-radius: 50%;
  width: 55px;
  height: 55px;
  background: #ee551418;
  margin-left: 1320px;
  margin-top: 325px;
  
}
.body__polosa {
  position: absolute;
  width: 792px;
height: 125px;
background: #FFFFFF;
box-shadow: 0px 1px 14px rgba(26, 10, 3, 0.096);
border-radius: 5px;
margin-top: 210px;
margin-left: 230px;
}
.body__nazvania {
  min-width: 500px;
}
.body__spisok {
  justify-content: space-around;
  align-items: center;
  font-family: poppins, sans-serif;
 margin: 25px;
}
.body__spisok-ss {
  color: #0e0d0d;

}




.body2 {
  display: flex;
}
.body2__slova {
  margin-top: 350px;
  margin-left: 230px;
}
h3 {
  color: #ee5514;
  font-family: "Source Serif Pro", serif;
  font-size: 20px;
  
}
.body2__Desire {
  font-family: "Source Serif Pro", serif;
  font-size: 44px;
  margin-top: 15px;
  width: 400px;
  line-height: 57.2px;
}
.body2__Lorem {
  color: #0e0d0d;
  opacity: 0.7;
  font-size: 16px;
  font-family: poppins, sans-serif;
  margin-top: 15px;
  line-height: 25.6px;
}
.body2__foto {
  margin-left: 245px;
  margin-top: 250px;
}
.body2__fotobluer {
  
  
}
.body2__foto_i_krug {
  margin-top: -280px;
  margin-left: -50px;
  
}
.body2__foto_ne_bluer {
 
  
}
.body2__krug_trugolnik {
  position: absolute;
  margin-top: 115px;
  margin-left: -325px;
}


.body3 {
  display: flex;
}
.body3__slova {
 
}
.body3__FEATURE {
  margin-left: 770px;
  margin-top: 140px;

}
.body3__we_have{
  margin-left: 525px;
  font-family: "Source Serif Pro", serif;
  font-size: 44px;
  margin-top: 10px;
}