body {
  max-width: 1600px;
}
.content__text {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-left: 230px;
 
}
.content__text p {
  font-size: 60px;
  font-family: "Source Serif Pro", serif;
  line-height: 73.2px;
  max-width: 400px;
}
h1 {
  font-size: 60px;
  color: #ee5514;
  font-family: "Source Serif Pro", serif;
  font-weight: 200;
  margin-top: 10px;
}
h2 {
  color: #0e0d0d;
  opacity: 0.7;
  font-size: 16px;
  font-family: poppins, sans-serif;
  line-height: 25.6px;
  margin-top: -10px;
  max-width: 400px;
}
.content {
  display: flex;
}

.content__fon {
  display: flex;
  margin-top: -555px;
}

.content__kvadrat {
  box-sizing: border-box;
  width: 394px;
  height: 400px;
  border: 11px solid #ee551444;
  margin-left: 247px;
  margin-top: 60px;
}
.content__krasniekediPUMA {
  position: absolute;
  margin-top: -130px;
  margin-left: -125px;
}
.content__kvadrat td {
  width: 15px;
  height: 15px;
  background: radial-gradient(
    circle,
    rgba(238, 85, 20, 0.13) 45%,
    transparent 50%
  );
}
.content__oval {
  width: 389px;
  height: 89px;
  background: rgba(0, 0, 0, 0.3);
  filter: blur(30px);
  border-radius: 100px/50px;
  margin-top: 180px;
  margin-left: -10px;
}
.content__strelka {
  margin-left: 22.5px;
  margin-top: 12.5px;
}
.content__krug {
  border-radius: 50%;
  width: 55px;
  height: 55px;
  background: #ee551418;
  margin-left: -120px;
  margin-top: 250px;
}
.content__polosa {
  position: absolute;
  width: 792px;
  height: 125px;
  background: #ffffff;
  box-shadow: 0px 1px 14px rgba(26, 10, 3, 0.096);
  border-radius: 5px;
  margin-top: 500px;
  margin-left: 230px;
  display: flex;
  max-width: 792;
  align-items: center;
  justify-content: center;

}
.content__vnutri__polosa {
  display: flex;
  min-width: 600px;
  margin-top: -10px;
  margin-left: -100px;
  
}

.content__brand p{
  font-size: 16px;
  color: #1a0a03a4;
  font-family: poppins, sans-serif;
  padding: 15px;
}
.content__Puma {
  font-family: poppins, sans-serif;
  font-size: 18px;
  line-height: 28.8px;
  margin-left: 15px;
}
hr {
  border: 1px solid #EE5514;
transform: rotate(90deg);
width: 42px;
height: 0px;
margin-left: 90px;
margin-top: -30px;
}

.content__Person p{
  font-size: 16px;
  color: #1a0a03a4;
  font-family: poppins, sans-serif;
  padding: 15px;
}
.content__man {
  font-family: poppins, sans-serif;
  font-size: 18px;
  line-height: 28.8px;
  margin-left: 15px;
}

.content__Size p{
  font-size: 16px;
  color: #1a0a03a4;
  font-family: poppins, sans-serif;
  padding: 15px;
}
.content__large {
  font-family: poppins, sans-serif;
  font-size: 18px;
  line-height: 28.8px;
  margin-left: 15px;
}

.content__Price p{
  font-size: 16px;
  color: #1a0a03a4;
  font-family: poppins, sans-serif;
  padding: 15px;
}
.content__150 {
  font-family: poppins, sans-serif;
  font-size: 18px;
  line-height: 28.8px;
  margin-left: 15px;
}
.content__knopka {
  transform: translate(200px,-5px)
}


