a {
  text-decoration: none;
  color: #ee5514;
  font-family: poppins, sans-serif;
}
.header__logo-wrapper {
  margin-left: 230px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 47px;
  z-index: 1;
}
.header__knopki {
  min-width: 480px;
}
.header__spisok {
  font-size: small;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 230px;
  column-gap: 50px;
}
.header__knopka {
  color: #fff;
  text-decoration: none; /* убирать подчёркивание у ссылок */
  background: rgb(212, 75, 56);
  padding: 23px 45px; /* отступ от текста */
  border-radius: 3px;
  font-size: 20px;
}
.header__spisok-ss {
}

.header__sp {
}


a.header__knopka:hover {
  background: rgb(232, 95, 76);
}
a.header__knopka:active {
  background: rgb(152, 15, 0);
}
