a {
  text-decoration: none;
  font-family: poppins, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #3d302a;
}
.header__logo-wrapper {
  margin-left: 230px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 47px;
}
.header__knopki {
  min-width: 400px;
  margin-left: -500px;
}
.header__spisok {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 40px;
}
.header__Buynow {
  min-width: 100px;
}
.header__knopka {
  color: #fff;
  text-decoration: none;
  background: #ee5514;
  padding: 20px 25px;
  border-radius: 8px;
  font-size: 20px;
  margin-left: -250px;
}
a.header__knopka:hover {
  background: rgb(192, 17, 17);
}
a.header__knopka:active {
  background: rgb(152, 15, 0);
}
.header__spisok a:hover {
  color: #ee5514;
}
li {
  z-index: 10;
}
